{
  "env": {
    "production": {
      "plugins": [
        "@babel/plugin-syntax-dynamic-import"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "last 2 Chrome versions"
              ]
            },
            "modules": false
          }
        ]
      ],
      "minified": true,
      "comments": false,
      "compact": true
    },
    "development": {
      "plugins": [
        "@babel/plugin-syntax-dynamic-import"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": true,
            "targets": {
              "browsers": [
                "last 2 Chrome versions"
              ]
            },
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}